.tweet {
  width: 639px;
  height: 335px;
  padding: 0px 16px;
  .tweetInfo {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    .tweetCreatorInfo {
      margin-left: 8px;
      .name {
        font-weight: 700;
        line-height: 26px;
        color: var(--dark-100);
      }
      .account {
        font-size: 14px;
        line-height: 22px;
        color: var(--secondary-color);
      }
    }
  }
  .tweetContent {
    width: 578px;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 8px;
  }
  .createTime {
    color: var(--secondary-color);
    line-height: 22px;
    font-weight: 500;
    margin-bottom: 8px;
  }
  .tweetFeedback {
    width: 606.75px;
    border: solid 1px #e6ecf0;
    padding: 16px 0px;
    display: flex;
    border-left: none;
    border-right: none;
    .num {
      color: var(--black);
      font-weight: 700;
      font-size: 19px;
      display: flex;
      margin-right: 24px;
      p {
        color: var(--secondary-color);
        font-weight: 500;
        margin-left: 4px;
      }
    }
  }
  .actionIcons {
		display: flex;
		gap: 128px;
		border-bottom: solid 1px #e6ecf0;
		padding: 16px 0px;
    .messageIcon {
      content: url(../components/assets/icons/message.svg);
    }
    .likeIcon {
      content: url(../components/assets/icons/like.svg);
    }
  }
}