.user__card__list {
  position: absolute;
  padding: 16px 0 0 16px;
  width: 75%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  top: 75px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.title {
  position: absolute;
  width: 1076px;
  height: 75px;
  border-bottom: solid 1px var(--border-color);
  padding: 24px;
  font-size: 24px;
  line-height: 26px;
  color: var(--dark-100);
  font-weight: 700;
}
.infinite__scroll {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
}
.loading__icon {
  position: absolute;
  top: 30vh;
  right: 32vw;
}