.title {
  padding: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  border-bottom: solid 1px var(--border-color);
  margin-bottom: 16px;
  img {
    margin-right: 16px;
    cursor: pointer;
  }
}
.loading__icon {
  width: 100px;
  height: 100px;
}
