@import './UserLoginPage.module.scss';

.notification__container {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 999;
}

.button__container {
  display: flex;
  justify-content: flex-end;
}
.form__container {
  margin-top: 0;
  padding: 0 24px;
  width: 100%;
}
.form__title {
  border-bottom: 1px solid var(--control-container-border);
  h3 {
    text-align: left;
    margin: 24px;
  }
}
