.tweet {
  margin-top: 16px;
  width: 100%;
  padding-left: 24px;
  border-bottom: solid 1px var(--border-color);
  position: relative;
  .tweetInfo {
    display: flex;
    .container {
      display: flex;
    }
    .avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    .tweetCreatorInfo {
      margin-left: 8px;
      display: flex;
      height: 24px;
      .name {
        max-width: 100px;
        overflow: scroll;
        font-weight: 700;
        line-height: 26px;
        color: var(--dark-100);
      }
      .account {
        max-width: 100px;
        overflow: scroll;
        font-size: 14px;
        line-height: 22px;
        color: var(--secondary-color);
        margin-left: 8px;
      }
    }
  }
  .tweetContent {
    width: 89%;
    font-size: 16px;
    line-height: 26px;
    margin-left: 58px;
    transform: translateY(-22px);
  }
  .createTime {
    color: var(--secondary-color);
    line-height: 22px;
    font-weight: 500;
    font-size: 14px;
  }
  .delBtn {
    position: absolute;
    cursor: pointer;
    top: 0px;
    right: 16px;
    content: url(../components/assets/icons/delBtn.svg);
  }
}
