.tweet {
  border-bottom: solid 1px var(--border-color);
  width: 100%;
  padding: 0px 16px;
  .tweet__info {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    .tweet__creator__info {
      margin-left: 8px;
      .name {
        font-weight: 700;
        line-height: 26px;
        color: var(--dark-100);
      }
      .account {
        font-size: 14px;
        line-height: 22px;
        color: var(--secondary-color);
      }
    }
  }
  .tweet__content {
    width: 100%;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 8px;
  }
  .create__time {
    color: var(--secondary-color);
    line-height: 22px;
    font-weight: 500;
    margin-bottom: 8px;
  }
  .tweet__feedback {
    width: 100%;
    border: solid 1px var(--border-color);
    padding: 16px 0px;
    display: flex;
    border-left: none;
    border-right: none;
    .num {
      color: var(--black);
      font-weight: 700;
      font-size: 19px;
      display: flex;
      margin-right: 24px;
      p {
        color: var(--secondary-color);
        font-weight: 500;
        margin-left: 4px;
      }
    }
  }
  .action__icons {
    display: flex;
    gap: 128px;
    padding: 16px 0px;
    .message__icon {
      content: url(../components/assets/icons/message.svg);
      cursor: pointer;
    }
    .like__icon {
      content: url(../components/assets/icons/like.svg);
      cursor: pointer;
    }
    .like__icon__active {
      content: url(../components/assets/icons/like_active.svg);
      cursor: pointer;
      width: 30px;
      height: 30px;
    }
  }
}
