.recommendFollowList {
  transform: translateX(5%);
  width: 273px;
  background-color: var(--dark-20);
  border-radius: 16px;
  .title {
    padding: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    color: var(--dark-100);
    border-bottom: solid 1px var(--border-color);
  }
  
}
