.tweet {
  width: 639px;
  padding: 0px 16px;
  .tweetInfo {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
		.container {
			display: flex;
			align-items: center;
		}
    .tweetCreatorInfo {
      margin-left: 8px;
			display: flex;
			align-items: center;
      .name {
        font-weight: 700;
        line-height: 26px;
        color: var(--dark-100);
      }
      .account {
        font-size: 14px;
        line-height: 22px;
        color: var(--secondary-color);
				margin-left: 8px;
      }
    }
  }
  .tweetContent {
    width: 528px;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 8px;
		margin-left: 58px;
  }
  .createTime {
    color: var(--secondary-color);
    line-height: 22px;
    font-weight: 500;
		font-size: 14px;
  }
  .tweetFeedback {
    width: 606.75px;
    border-bottom: solid 1px #e6ecf0;
    padding: 9px 0 18px 0px;
    display: flex;

		.like, .reply {
			display: flex;
		}
		.reply {
			margin-left: 58px;
		}
		.like {
			margin-left: 40px;
		}
		.num {
			color: var(--secondary-color);
			margin-left: 8px;
		}

    .messageIcon {
      content: url(../components/assets/icons/message.svg);
    }
    .likeIcon {
      content: url(../components/assets/icons/like.svg);
    }
  }
}
