@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Noto+Sans+TC:wght@400;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Noto Sans TC', sans-serif;
}

:global(:root) {
  --white: #ffffff;
  --black: #000000;
  --main-color: #ff6600;
  --primary-color: #0062ff;
  --secondary-color: #6c757d;
  --success-color: #3dd598;
  --warn-color: #ffc542;
  --error-color: #fc5a5a;
  --new-color: #50b5ff;
  --border-color: #E6ECF0;
  --dark-100: #171725;
  --dark-90: #44444f;
  --dark-80: #696974;
  --dark-70: #92929d;
  --dark-60: #b5b2be;
  --dark-50: #d5d5dc;
  --dark-40: #e2e2ea;
  --dark-30: #f1f1f5;
  --dark-20: #fafafb;
}

body {
  --input-background: #f5f8fa;
  --default-baseline: #657786;
  --hover-focus-baseline: #50b5ff;
  --navbar-default-text: #44444f;
  --popularlist-background: #fafafb;
  --main-text: #171725;
  --modal-backdrop: #e5e5e5;
  --control-container-border: #e6ecf0;
}

:global(.control-container) {
  border-left: 1px solid var(--control-container-border);
  border-right: 1px solid var(--control-container-border);
  margin: 0 24px;
}
@media screen and (min-width: 1200px) {
  :global(.main__container) {
    width: 1140px;
    margin: 0 auto;
    display: flex;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  :global(.main__container) {
    width: 960px;
    margin: 0 auto;
    display: flex;
  }
}