.col_2 {
  display: flex;
  justify-content: flex-start;
}

.col_7,
.col_10 {
  border-left: solid 1px var(--border-color);
  border-right: solid 1px var(--border-color);
  height: 100vh;
  overflow: visible scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.user__list__container {
  display: flex;
  justify-items: flex-end;
  height: 100vh;
  
}
.navigation {
  transform: translateX(145px);
  height: 100%;
}
.user__list {
  border-left: 1px solid var(--border-color);
  height: 100%;
}